*                                  { margin: 0; padding: 0; }

#wrapper                           { width: 1033px; line-height: 22px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; }
body							   { background-color: #ffffff;}

h1                                 { color: #000; font-weight: bold;font-family: "Times New Roman", Times, serif;font-size: 65px;line-height: 40px; margin-top: 20px; margin-bottom: 10px; text-align: center; }
h2                                 { color: #777; font-weight: normal;font-size: 28px; font-family: "Times New Roman", Times, serif; line-height: 30px; font-style: italic; text-align: center; }
h3                                 { color: #000; font-weight: bold; font-size: 30px; font-family: "Times New Roman", Times, serif; line-height: 30px; margin-bottom: 10px; }
h3 span                            { color: #000; font-weight: bold; font-size: 30px; padding-right: 3px; }
h4                                 { color: #777; font-weight: bold; font-style: italic; font-size: 16px; margin: 10px 0 0 10px; }
a                                  { color: #fff; text-decoration: none; }
li                                 { list-style-type: none; }

.itemWrapper ul li 				   {padding-right: 5px}
.itemWrapper ul li:nth-child(1)    { font-weight: bold; font-style: italic;}
.itemWrapper ul li:nth-child(2)    { font-weight: bold; color: #000; }

.contentWrapper                    { margin-bottom: 35px; }
.itemWrapper                       { margin-bottom: 30px; overflow: hidden; padding: 2px 0; position: relative; }
.grade                             { position: absolute; top: 25px; left: -21px; font-style: italic; font-size: 12px; -webkit-transform:rotate(-90deg); }
.itemWrapper p  				   { padding-left: 5px}

#grade3                            { top: 36px; left: -34px; }

#top                               { background-color: #333; overflow: hidden; padding: 10px 5px; }
#top li                            { float: left; padding: 0; margin-right: 60px; }
#top li:last-child                 { margin-right: 0; }
#top li:first-child                { margin-left: 10px; }
#top span                          { padding-top: 3px; width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }

#top-box-wrap                      { overflow: hidden;  }

#bottom                            { background-color: #333; padding: 0 3px; text-align: center; margin-top: -4px; }
#bottom a                          { font-size: 8px; }

#content                           { padding: 10px 20px; overflow: hidden; }

#top-box p                         { color: #000;text-align: justify; text-justify: inter-word; padding: 10px 90px; margin: 5px 0 23px 0; }  /* border-top: 1px dashed #777; border-bottom: 1px dashed #777; */
#center-box                        { overflow: hidden; }
#center-box ul                     { margin-left: 15px; }

#center-box-left                   { float: left; width: 743px; }
#center-box-left p                 { float: left; width: 500px; padding-right: 20px; }
#center-box-left ul                { float: left; width: 200px; }

#center-box-right                  { float: left; width: 250px; }
#center-box-right ul li            { overflow: hidden; padding: 3px 0; }
#center-box-right h3               { margin-top: 15px; padding-top: 24px; }
#center-box-right h3:first-child   { padding-top: 0; }
#center-box-right h3:first-child   { margin-top: 0; }
#center-box-right h4:first-child   { margin-top: 0; }
#center-box-right ul li span       { width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }
#center-box-right ul li span.skill { width: 120px; display: block; float: left; }

#bottom-box                        { overflow: hidden; }

#bottom-box-left                   { float: left; width: 750px; }
#bottom-box-left ul                { overflow: hidden; padding-left: 20px; padding-top: 5px; }

#bottom-box-right                  { float: left; padding-top: 40px; }
#bottom-box-right span             { width: 17px; height: 17px; display: block; float: left; margin-right: 5px; }
